

.navbar {
    background: rgba(0, 0, 0, 0.5);
    
    z-index: 3;
   
}

.navbar-brand {
    font-size: 1.5rem;
    color: #ff4d4d;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: blue;
   
}

.nav-link {
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ff4d4d;
    
}




.hero-section {
    position: relative;
    background-image: url('back4.jpg');
    
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 80px;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.btn-lg {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
}




@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2rem;
    }
    .hero-content p {
        font-size: 1rem;
    }
}




.background {
    background: url('background.jpeg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
}




.form-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}




.form-control {
    border-radius: 4px;
    margin-bottom: 1rem;
}

.btn {
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

.btn-primary {
    background-color: #5d5aff;
    border-color: #af5aff;
}

.btn-primary:hover {
    background-color: #ff3b3f;
    border-color: #ff3b3f;
}

.btn-success {
    background-color: #594caf;
    border-color: #4caf50;
}

.btn-success:hover {
    background-color: #45a049;
    border-color: #45a049;
}




a {
    color: #ff5a5f;
}

a:hover {
    color: #ff3b3f;
    text-decoration: none;
}

.text-center mt-3{
     color: blue;
}


